html {
    background-color : white;
    font-family : "Segoe UI";
    overflow-x:hidden;
}

body {
    color: black;
}

header {
    background-color: #1E3A5F;
    font-size : 1.5em;
    color : white;
    text-align : center;
    margin: -1.5em;
    margin-bottom : 1.5em;
    margin-top : -1em;
    position : sticky;
    top : 0;
}

header > div {
    display: inline-block;
    height: 0;
}

#logo {
    width : 3em;
    position: relative;
    top: 1em;
}

header > * {
    margin-top: -0.5em;
}

header > #menu {
    display: none;
    width: 1.5em;
    position: absolute;
    top: 1.5em;
    right: 2.5em;
}

header > h1 {
    font-size : 1.5em;
    display: inline-block;
}

header > h2 {
    font-size : 1em;
    display: inline-block;
    white-space: nowrap;
}

footer {
    background-color: #1E3A5F;
    padding: 1em;
    text-align: center;
    color: white;
    margin: -1em;
    width:100%;
    font-size: 0.8em;
    bottom: 0;
}

footer > img {
    display: inline-block;
    height: 10em;
    max-height: 5em;
    margin: 0.5em;
}