*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    width: 420px;
    height: auto;
    background: #0d6efd;
    color: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    position: relative;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-prenom-nom-box{
    display: flex;
    flex-direction: row;
    margin : 0;
    padding: 0;
    gap : 10px;
    height: 4.75em;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 40px;
    border : 2px solid rgba(255,255,255, .2);
    font-size: 16px;
    color: #0c0c0c;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #0c0c0c;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #0c0c0c;
}
.wrapper .souvenir-oublier{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.souvenir-oublier label input{
    accent-color: #ffffff;
    margin-right: 3px;
}
.souvenir-oublier a {
    color: #ffffff;
    text-decoration: none;
}
.souvenir-oublier a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}
.wrapper .enregistrer-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.enregistrer-link p a{
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
}
.enregistrer-link p a:hover{
    text-decoration: underline;
}
.btn:hover{
    background-color: #1848a3 !important;
}
.wrapper .icon-return{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}
